.navbar {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-around;

  background-color: chocolate;
}
.logo {
  width: 60px;
  height: 60px;
}
.logo img {
  width: 100%;
}

.navinput {
  margin-right: 20px;
  padding: 5px 15px;
  outline: none;
}
.buttoninput {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}
