.createPage {
  display: grid;
  height: calc(100vh - 80px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 50px;
  grid-template-areas:
    "title title"
    "form diets";
}
.formheader {
  grid-area: title;
  margin: 0;
  padding-top: 5px;
}
.formheader h1 {
  margin: 0;
}
.alertMessage {
  font-weight: bold;
  border: 1px solid black;
  color: red;
  border-radius: 25px;
}
.alert {
  color: red;
  font-size: x-small;
  padding: 0;
  margin: 0;
  align-self: flex-start;
}
.form {
  grid-area: form;
  display: flex;
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;

  width: 100%;
}
.forminput {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.forminput label {
  align-self: flex-start;
  font-weight: bold;
}
.forminput input {
  padding: 5px;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.719);
}
.forminput textarea {
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.719);
}

.diets {
  display: flex;
  flex-direction: column;
  grid-area: diets;

  align-items: flex-start;
}
.formbutton button {
  background-color: #d2691e;
  border: none;
  padding: 10px 15px;
  color: blanchedalmond;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.formbutton button:hover {
  background-color: rgb(219, 133, 71);
  color: rgb(221, 204, 180);
}
