.pagination {
  display: flex;
  flex-direction: row;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}
.pagination p {
  width: fit-content;
}
.paginas {
  display: flex;
  justify-content: center;
}
.activepage {
  border: 1px solid rgba(128, 128, 128, 0.459);
  cursor: default;
  padding: 5px 5px;
  margin: 0;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.226);
}
.inactivepage {
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.301);
  padding: 5px 5px;
  margin: 0;
}
