.searchcont {
  padding-bottom: 10px;
  width: 100%;
}

.navinput {
  margin-right: 20px;
  padding: 5px 15px;
  outline: none;
}
.buttoninput {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}
